<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h3>About JK Industries</h3>
        <div class="footer-logo">
          <img src="assets/logo/jk_logo.png" alt="JK Industries Logo">
          <p>Excellence in Engineering Since 2010</p>
        </div>
        <p>Leading manufacturer of high-quality industrial clamps and hardware solutions.</p>
      </div>
      
      
      
      <div class="footer-section" itemscope itemtype="http://schema.org/SiteNavigationElement">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="/" itemprop="url"><span itemprop="name">Home</span></a></li>
          <li><a href="/products" itemprop="url"><span itemprop="name">Products</span></a></li>
          <li><a href="/about-us" itemprop="url"><span itemprop="name">About Us</span></a></li>
          <li><a href="/contact-us" itemprop="url"><span itemprop="name">Contact Us</span></a></li>
        </ul>
      </div>

      <div class="footer-section" itemscope itemtype="http://schema.org/SiteNavigationElement">
        <h3>Our Products</h3>
        <ul>
          <li><a href="/products/metal-clamp" itemprop="url"><span itemprop="name">Metal Clamp</span></a></li>
          <li><a href="/products/upvc-metal-clamp" itemprop="url"><span itemprop="name">UPVC Metal Clamp</span></a></li>
          <li><a href="/products/cpvc-metal-clamp" itemprop="url"><span itemprop="name">CPVC Metal Clamp</span></a></li>
          <li><a href="/products/stainless-steel-clamp" itemprop="url"><span itemprop="name">Stainless Steel Clamp</span></a></li>
          <li><a href="/products/sprinkler-clamp" itemprop="url"><span itemprop="name">Sprinkler Clamp</span></a></li>
          <li><a href="/products/nico-clamp" itemprop="url"><span itemprop="name">Nail Clamp</span></a></li>
          <li><a href="/products/golden-metal-clamp" itemprop="url"><span itemprop="name">Golden Metal Clamp</span></a></li>
          <li><a href="/products/silver-metal-clamp" itemprop="url"><span itemprop="name">Silver Metal Clamp</span></a></li>
          <li><a href="/products/ptmt-connection-pipe" itemprop="url"><span itemprop="name">PTMT Connection Pipe</span></a></li>
        </ul>
      </div>
      
      <div class="footer-section" >
        <h3>Contact Info</h3>
        <ul class="contact-info">
          <li>
            <i class="fas fa-map-marker-alt"></i>
            <div style="display: inline;">
              <span>Radhekrishan Chowk, Sojitra park, Mavdi baypass road</span>, 
              <span>Rajkot</span>, 
              <span>Gujarat</span> - <span>360004</span>
            </div>
          </li>
          <li>
            <i class="fas fa-phone"></i>
            <a href="tel:+919979032430">+91 9979032430</a>
          </li>
          <li>
            <i class="fas fa-envelope"></i>
            <a href="mailto:jkindustries1955@gmail.com">jkindustries1955&#64;gmail.com</a>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="footer-bottom">
      <p>&copy; {{currentYear}} JK Industries. All rights reserved. Managed by <a href="https://www.linkedin.com/in/tuleshghelani/" target="_blank">Tulesh Ghelani</a></p>
    </div>
  </div>
</footer>
